
.container-swiper-proyectos{
    width: 100%;
    height: 50vh;
}
@media (max-width: 430px) {
    .container-proyectos .title-proyectos #text-titles-subtitles{
        font-size: 25px;
    }
    .container-proyectos .title-proyectos .description-proyecto{
        font-size: 13px;
    }
    
}