:root{
    --color-text-image:linear-gradient(to right, #00DFA2, #0079FF)
}
.section-portafolio{
    border-radius: 10px;
    width: 100%; 
}
.container-perfil{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 4rem; */
    /* background-color: red; */
}
.card-perfil-foto{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 50%;
    height: 100%;
    overflow: hidden;
    /* background-color: orange; */
}
.card-perfil-foto img{
    width: 100%;
    border-radius: 6px;
}

.container-perfil .container-description-perfil{
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    color: #ccc;
    /* background-color: #242424; */
    /* padding: 1rem; */
    /* margin-left: 0.5rem; */
    /* display: block; */
}

.container-perfil .container-skills .title-skills{
    background-image: var(--color-text-image);
    background-clip: text;
    color: transparent;
    text-align: justify;
}
.container-perfil .container-skills .skills{
    display: flex;
    align-items: center;
}
.title-perfil{ 
    background-image: var(--color-text-image);
    background-clip: text;
    color: transparent;
    padding-top: 1.5rem;
    text-align: center;
}
.container-perfil .container-description-perfil .parrafo-perfil{
    text-align: justify;
}
.container-perfil .container-description-perfil .parrafo-perfil > .parrafo-perfil{
    text-align: justify;
}
.container-perfil .container-description-perfil .description-perfil{
    margin: 2rem 0;
    text-align: justify;
}
.cv_perfil{
    padding-top: 1rem;
}
/* style skills */
.skills{
    display: flex;
    flex-wrap: wrap;
}
.skills span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem 0;
    margin-right: 0.5rem;
    border: 1px solid rgb(18, 239, 232);
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;

    font-size: 12px;
}
.skills span:hover{
    background-color: rgba(103, 255, 204, 0.297);
}
.skills span img{
    width: 15px;
    margin: 0 0.2rem;
}

/* Estilo responsive */
@media (max-width: 1020px) {
    .title-perfil{
        margin-top: -1rem;
    }
    .title-perfil strong{
        font-size: 2rem;
        margin-top: -1rem;
    }
    .container-perfil {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-top: -2rem;
    }
    .container-perfil .container-description-perfil{
        padding: 0.5rem;
    }
    .container-perfil .container-description-perfil .nombre-perfil{ 
        font-size: 18px;
    }
    .container-perfil .container-description-perfil .description-perfil{
        margin: 2rem 0;
        font-size: 14px;
    }
    .card-perfil-foto{
        display: none;
    }
    /* .card-perfil-foto img{
        width: 5rem;
    } */
    .container-skills .skills span{
        font-size: 8px;
    }
    .container-skills .skills span img{
        font-size: 10px;
    }
    .container-skills-perfil .skill-title-perfil{
        font-size: 20px;
    }
    
}
@media (max-width: 600px) {
    .container-perfil {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .container-perfil .container-description-perfil{
        padding: 5px;
    }
    .container-perfil .container-description-perfil .nombre-perfil{ 
        font-size: 20px;
    }
    .container-perfil .container-description-perfil .description-perfil{
        margin: 2rem 0;
        font-size: 14px;
    }
    
    .card-perfil-foto,
    .card-perfil-foto img{
       display: none;
    }

}
@media (max-width: 430px) {
    .container-skills-perfil {
        display: none;
    }
    .container-perfil .container-description-perfil{
        padding: 2px;
    }
    .container-perfil .container-description-perfil .description-perfil{
        font-size: 13px;
        text-align: center;
    }
    .skills span {

        font-size: 9px;
    }
    .skills span img{
        width: 12px;
        margin: 0 0.1rem;
    }
    .cv_perfil{
        display: none;
    }
    
}