html {
  scroll-behavior: smooth;
}
/* nav{
    width: 80%;
    position: fixed;
    background: linear-gradient(to right, #00DFA2, #0079FF);
} */
/* Estilos base para la barra de navegación */
.navbar {
    position: fixed;
    z-index: 900;
    width: 77.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar-links a:hover {
    color: #007bff;
  }
  
  /* Ocultar el menú en pantallas pequeñas y mostrar el botón hamburguesa */
  .navbar-toggle {
    display: none; /* Oculto por defecto */
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  /* Estilos para dispositivos de tamaño de tableta o más pequeño */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 93%;
      background-color: #333;
    }
  
    .navbar-links.open {
      display: flex;
    }
  
    .navbar-toggle {
      display: block; /* Mostrar solo en pantallas pequeñas */
    }
  }